.vscode/
.idea/
__pycache__/
config.py
env/
flaskr/charts/*
flaskr/diagrams/*
flaskr/static/data/ListingSecurityList.csv
flaskr/stocks/utils/hist_graph.old.py
flaskr/utils
flaskr.db
flaskr.log
just_for_test
run.bat
reading_bot.log
!flaskr/charts/.gitkeep
!flaskr/diagrams/.gitkeep
