.vscode/
.idea/
__pycache__/
env/
config.py
flaskr/charts/*
flaskr/diagrams/*
flaskr/static/data/ListingSecurityList.csv
flaskr/stocks/utils/hist_graph.old.py
flaskr.db
flaskr.log
just_for_test
reading_bot.log
