body{
    background-color: lighblue;
    font-family: "Roboto";
}

div.container {
    padding: 0;
    width: 1000px;
}

nav {
    background-color: steelblue;
    margin-bottom: 5px;
    height: 80px;
}


/* Headings, text */
h4{
    font-size: 1.25rem;
}

a {
    color: steelblue;
}

a:hover {
    color: darkred;
}

h6.navbar-brand{
    font-family: "Oswald";
    color: white;
    font-size: 2rem;
    margin-left: 10px;
}

/* Ticker changing color */

p.p-tickers {
    font-weight: bold;
}

a.a-tickers {
    color: midnightblue;
}

a.a-tickers:hover {
    color: darkred;
}

span.green {
    color: green;
}

span.red {
    color: red;
}

img.icon{
    width: 10px;
    vertical-align: center;
}

/* Table */

p.p-left-column, p.p-tickers-descr {
    font-family: "Oswald";
    font-size: small;
    color: midnightblue;
    margin: 6px auto;
}

p.author {
    color: darkred;
}

p.p-tickers {
    font-family: "Oswald";
}

p.p-tickers, p.p-tickers-descr {
    margin-bottom: 0;
}

/* Div rows and cols */

div.row{
    border-collapse: separate;
    text-align: justify;
    border-style: hidden;
    margin: 0;
}

div.column{
    border: 1px lightgrey solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Footer */
div.footer {
    background-color: steelblue;
    height: 50px;
    text-align: right;
    padding-top: 10px;
    margin-top: 30px;
}

a.a-footer{
    font-family: "Oswald";
    color: white;
    margin-right: 20px;
}

/* Tickers */
div.row-tickers {
    text-align: left;
}

.h4-tickers {
    color: steelblue;
    margin: 24px auto 24px 12px;
    display: block;
}

.h5-checks {
    color: steelblue;
    margin: 12px auto 12px 36px;
    font-size: 1.1rem;
}

img.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.check {
    width: 20px;
    height: 20px;
    margin-left: 60px;
    margin-right: 8px;
}

div.rectangles{
    margin-top: auto;
    margin-bottom: auto;
}

.p-recommendations{
    margin: 12px auto 12px 36px;
}
