{% extends "base.html" %}

{% block content %}
    {% for news in news_list %}
    <div class="row">
        <div class="column col-2">
            <p class="p-left-column">{{ news.date.strftime('%d.%m.%Y. %H-%m') }}</p>
            <p class="p-left-column author">{{ news.author }}</p>
        </div>
        <div class="column col-10">
            <h4><a class="title" href="{{ news.url }}">{{ news.title }}</a></h4>
            {% if news.summary != news.title %}
            <p class="summary">{{ news.summary }}</p>
            {% endif %}
            {% if news.ticker and news.change %}
            <p class="p-tickers"><a class="a-tickers" href="https://www.marketwatch.com/investing/index/{% if ':' in news.ticker  %}{{ news.ticker[3:] }}?countrycode={{ news.ticker[:2] }}{% else %}{{ news.ticker }}{% endif %}">{{news.ticker.upper() }}</a>:
                {% if news.change > 0 %}
                <span class="green"> {{ news.change }}%</span><img class="icon"
                                                                   src="static/images/flash_green.ico">
                {% elif news.change < 0 %}
                <span class="red"> {{ news.change }}%</span><img class="icon"
                                                                 src="static/images/flash_red.ico">
                {% else %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}