{% extends "base.html" %}

{% block content %}
<div class="row row-tickers">
    <h4 class="price-chart">Price Chart</h4>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div id="tradingview_efe44"></div>
        <div class="tradingview-widget-copyright"><!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div id="tradingview_efe44"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/{{ ticker }}/"
                                                             rel="noopener" target="_blank"><span class="blue-text">{{ ticker }} Price Chart</span></a>
                    by TradingView
                </div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                      new TradingView.widget({
                          "width": 980,
                          "height": 610,
                          "symbol": "NASDAQ:{{ ticker }}",
                          "interval": "D",
                          "timezone": "Etc/UTC",
                          "theme": "light",
                          "style": "1",
                          "locale": "en",
                          "toolbar_bg": "#f1f3f6",
                          "enable_publishing": false,
                          "hide_top_toolbar": true,
                          "hide_legend": true,
                          "save_image": false,
                          "container_id": "tradingview_efe44"
                      });
                </script>
            </div>
        </div>
        <!-- TradingView Widget END -->
    </div>
</div>
<div class="row row-tickers">
    <h4 class="price-chart">Perspective Diagram</h4>
</div>
{% endblock %}