<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">

    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <title>Tickers</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-primary">
        <h6 class="navbar-brand">Tickers</h6>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <button type="button" class="btn btn-outline-light">All News</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news_spb">
                    <button type="button" class="btn btn-outline-light">SPB News</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tickers">
                    <button type="button" class="btn btn-outline-light">Tickers</button>
                </a>
            </li>
        </ul>
    </nav>

    <div class="row row-tickers">
        {% for ticker in tickers %}
            <div class="column col-4">
                <p class="p-tickers"><a class="a-tickers" href="https://finance.yahoo.com/quote/{{ ticker }}">{{ticker.upper() }}</a></p>
                <p class="p-tickers-descr">{{ tickers[ticker] }}</p>
            </div>
        {% endfor %}
    </div>
</div>
</body>