{% extends "base.html" %}

{% block content %}
<div class="row-tickers">
    <h4 class="h4-tickers">Description</h4>
    <div class="col-12">
        <p class="p-recommendations">{{ fundamentals['description'] }}</p>
    </div>
</div>
<div class="row-tickers">
    <h4 class="h4-tickers">Price Chart</h4>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div id="tradingview_efe44"></div>
        <div class="tradingview-widget-copyright"><!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div id="tradingview_efe44"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/{{ ticker }}/"
                                                             rel="noopener" target="_blank"><span class="blue-text">{{ ticker }} Price Chart</span></a>
                    by TradingView
                </div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                      new TradingView.widget({
                          "width": 980,
                          "height": 600,
                          "symbol": "{{ ticker }}",
                          "interval": "D",
                          "timezone": "Etc/UTC",
                          "theme": "light",
                          "style": "1",
                          "locale": "en",
                          "toolbar_bg": "#f1f3f6",
                          "enable_publishing": false,
                          "hide_top_toolbar": true,
                          "hide_legend": true,
                          "save_image": false,
                          "container_id": "tradingview_efe44"
                      });
                </script>
            </div>
        </div>
        <!-- TradingView Widget END -->
    </div>
</div>
<div class="row-tickers">
    <h4 class="h4-tickers">Perspective Diagram</h4>
    <img class="diagram" src="diagrams/{{ ticker }}_diagram_perspective.png" alt="{{ ticker }}_diagram_perspective">
</div>
<div class="row-tickers">
    {% for check in checks %}
        <h5 class="h5-checks">{{ check.title() }}: </h5>
        {% for line in checks[check] %}
            <div>
            <img class="check" src="/static/images/{% if checks[check][line] %}green{% else %}red{% endif %}_check.png">
            <span>{{ line|safe }}</span>
            </div>
        {% endfor %}
    {% endfor %}
</div>
<div class="row-tickers">
    <h4 class="h4-tickers">Analysts recommendations</h4>
    <h5 class="h5-checks">Overall recommendation: {{ recommendations['Analysts recommendations'] }}</h5>
    <div class="row">
    {% for recommendation_key in recommendations %}
        {% if recommendation_key != 'Analysts recommendations' %}
            <div class="col col-4">
            <p class="p-recommendations">{{ recommendation_key }}: </p></div>
            <div class="col col-4 rectangles">
                <img src="/static/images/rating_{{ recommendations[recommendation_key] }}.png">
            </div>
            <div class="col col-4"></div>
        {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}